
.button{
    background-color: white;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    border: 1px solid #FF9800;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.12s linear;
}

.button:hover{
    background-color: #FF9800;
    color: white;
}