.header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.mainIcon {
    width: 40px;
    height: 40px;
}

.nav {
    width: 100%;
    padding: 0px 1.5rem;
    display: flex;
    justify-content: space-between;
}


.navElement{
    font-size: 1.5rem;
    text-decoration: none;
    color: #333333;
    transition: 0.12s;
}

.navMenu {
    display: flex;
    align-items: center;
}

.navElement:not(:last-child){
    padding: 0px 1.5rem;
    font-weight: 700;
    font-size: 1.23rem;
}




.navElement:hover{
    color: #FF9800;
}
